@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('font/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/TTLakes-Bold.woff') format('woff'),
        url('font/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('font/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/TTLakes-Medium.woff') format('woff'),
        url('font/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('font/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/TTLakes-Regular.woff') format('woff'),
        url('font/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background: #F8F8F8;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    overflow-x: hidden;
}

ul li {
    list-style-type: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    /* Навигация */
    .nav {
        height: 88px;
        background: #FFFFFF;  
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding-left: 16px;
    }

    .nav__item {
        margin-right: 16px;
    }

    .nav__item--right:last-child {
        margin-left: auto;
    }

    .border {
        min-width: 40px;
        min-height: 40px;
        background: #FF3E79;
        border-radius: 50%;
    }

    .devider {
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        margin-top: 4px;
        border-radius: 1px;
    }

    .desktop, .not-mobial {
        visibility: hidden;
        display: none;
    }

    /* Основной блок */
    .main-content {
        padding-left: 16px;
    }

    .elem-title {
        position: relative;
        margin-top: 24px;
        color: #1B1C21;
        font-size: 28px;
        line-height: 40px;
        
    }

    .elem-title:before  {
        content: "";
        position: absolute;
        left: -16px;
        width: 4px;
        height: 100%;
        background-color: #41f6d7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 10;
    }

    /* блок слайдер */

    .sliderMenu {
        display:flex;
        justify-content: space-between;
        overflow:hidden;
        overflow-x: scroll;
        margin-top: 24px;
        color: #7E7E82;
    }

    .sliderMenu::-webkit-scrollbar {
        display: none;
    }

    .sliderItems {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        height: 40px;
        color: #7E7E82;
        padding-right: 16px;
    }

    .sliderActiv {
        padding-left: 16.54px;
        padding-right: 9.3px;
        margin-right: 16px;;
        display: flex;
        align-items:center;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    /* Блок поста */
    .main-post{
        margin-top: 24px;
    }

    .expand {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        padding-left: 32px;
        font-weight:500;
    }

    .expand:before {
        content: "";
        position: absolute;
        width: 16px;
        height: 100%;
        left: 12px;
        z-index: 10;
        background-repeat: no-repeat;
        background-position: left;
        background-image: url('img/expand.svg');
    }

    p {
        height: 90px;
        color: #1B1C21;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.8px;
        overflow: hidden;
    }

    .img-post {
        max-width: 320px;
        display: flex;
        justify-content: center;
        align-items:stretch;
        margin-top: 20px;
        margin-left: -16px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1119px)  {

    /* Навигация */
    .nav {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        height: 88px;
        background: #FFFFFF;  
        padding-left: 16px;
    }

    .nav__item {
        margin-right: 16px;
    }

    .nav__item--right:last-child {
        margin-left: auto;
    }

    .devider {
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
    }

    .border {
        width: 40px;
        height: 40px;
        background: #FF3E79;
        border-radius: 50%;
    }

    /* Основной блок */
    .main-content {
        padding-left: 16px;
        padding-right: 24px;
    }

    .elem-title {
        position: relative;
        margin-top: 24px;
        color: #1B1C21;
        font-size: 28px;
        line-height: 40px;
        margin-top: 24px;
    }

    .elem-title:before  {
        content: "";
        position: absolute;
        left: -16px;
        width: 4px;
        height: 100%;
        background-color: #41f6d7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 10;
    }

    /* блок слайдер */
    .sliderMenu {
        display:flex;
        justify-content: space-between;
        overflow:hidden;
        overflow-x: scroll;
        margin-top: 24px;
        color: #7E7E82;
    }

    .sliderMenu::-webkit-scrollbar {
        display: none;
    }

    .sliderItems {
        height: 40px;
        color: #7E7E82;

        padding-right: 16px;
        margin-right: 16px;

        font-size: 16px;
        line-height: 24px;

        display: flex;
        justify-content:flex-start;
        align-items: center;
        white-space: nowrap;

    }

    .sliderActiv {
        padding-left: 16px;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    /* Блок поста */
    .desktop {
        visibility: hidden;
        display: none;
    }

    .main-post {
        display: flex;
        justify-content:space-between;
        align-items:flex-start;
        margin-top: 24px;
    }

    .expand {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        padding-left: 32px;
        margin-top: 24px;
        font-weight:500;
    }

    .expand:before {
        content: "";
        position: absolute;
        width: 16px;
        height: 100%;
        left: 12px;
        z-index: 10;
        background-repeat: no-repeat;
        background-position: left;
        background-image: url('img/expand.svg');
    }

    p {
        width: 312px;
        color: #1B1C21;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.8px;
        overflow: hidden;
        padding-bottom: 10px;
    }

    .img-post {
        width: 360px;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items:stretch;
        border-radius: 2%
    }
}

@media (min-width: 1120px) {
    /* Навигация */
    .nav {
        height: 88px;
        background: #FFFFFF;  
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding-left: 16px;
    }

    .nav__item {
        margin-right: 16px;
    }

    .nav__item--right:last-child {
        margin-left: auto;
    }

    .container {
        max-width: 1120px;
        margin: auto;
    }
    
    .head__not-desktop {
        visibility: hidden;
        display: none;
    }

    .elem-x {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .item {
        display: inline-flex;
        align-items: center;
        color: #1B1C21;
        margin-left: 32px;
        font-weight:500;
    }

    .right::last-child {    
        margin-left: auto;
    }

    .border {
        display: inline-flex;
        width: 40px;
        height: 40px;
        background: #FF3E79;
        border-radius: 50%;
    }

    /* Основной блок */
    .main-content {
        padding-left: 16px;
        margin-right: 24px;
    }

    .elem-title {
        position: relative;
        margin-top: 24px;
        color: #1B1C21;
        font-size: 28px;
        line-height: 40px;
        font-weight: 900;
    }

    .elem-title:before  {
        content: "";
        position: absolute;
        left: -16px;
        width: 4px;
        height: 100%;
        background-color: #41f6d7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 10;
    }

    /* блок слайдер */
    .sliderMenu {
        display:flex;
        justify-content: space-between;
        overflow:hidden;
        overflow-x: scroll;
        padding-top: 24px;
        color: #7E7E82;
    }

    .sliderMenu::-webkit-scrollbar {
        display: none;
    }

    .sliderItems {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        height: 40px;
        color: #7E7E82;
        padding-right: 16px;
    }

    .sliderActiv {
        padding-left: 16.54px;
        padding-right: 9.3px;
        margin-right: 16px;;
        display: flex;
        align-items:center;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    /* Блок поста */
    .main-post {
        display: flex;
        justify-content:space-between;
        align-items:flex-start;
        margin-top: 24px;
    }

    .desktop {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        padding-top: 24px;
        padding-left: 32px;
        font-weight:500;
    }

    .expand {
        position: relative;
        font-size: 16px;
        line-height: 24px;

        padding-left: 32px;
        color: #1B1C21;
        font-weight:500;
    }

    .expand:before {
        content: "";
        position: absolute;
        width: 16px;
        height: 100%;
        left: 12px;
        z-index: 10;
        background-repeat: no-repeat;
        background-position: left;
        background-image: url('img/expand.svg');
    }

    p {
        min-width: 50%;
        color: #1B1C21;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.8px;
        overflow: hidden;
        padding-bottom: 13.78px;
    }

    .img-post {
        width: 532px;
        height: 360px;
        border-radius: 2%
    }
}

.sidebar-nav {
    width: 320px;
    min-height: 100%;
    background-color: #fff;
    display: flex;
	flex-direction: column;
    font-size: 16px;
    line-height: 24px;
}

.head {
    flex: 1 0 auto;
}

.footer {
    margin-top: 32px;
    flex: 0 0 auto;
    margin-bottom: 32px;
}

.sidebar {
    padding-left: 24px;
}

.sidebar-menu__item {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    padding-top: 32px;
    color: #1B1C21;
    font-weight:500;
}

.sidebar-menu__item-activ:before {
    content: "";
    position: absolute;
    left: -24px;
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 10;
}

.border:hover {
    opacity: 0.5;
    width: 50px;
    height: 50px;
    border:#1B1C21 1px solid;
    -webkit-transition: All 0.8s ease;
    -moz-transition: All 0.8s ease;
    -o-transition: All 0.8s ease;
    -ms-transition: All 0.8s ease;
    transition: All 0.8s ease;

}

.burger  {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/burger.svg') ;
}

.close { 
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/close.svg');
}

.call  {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/call.svg');
}
.chat  {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/chat.svg');
}

.profile  {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/profile.svg');
}

.search { 
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/search.svg');
}

.repair-status {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/repair-status.svg');
}

.repair-request { 
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/repair-request.svg');
}

.footer__nav  {
    margin-right: 16px;
}

.email {
    padding-top: 16px;
    font-weight:500;
}

.phone {
    padding-top: 12px;
    font-size: 24px;
    line-height: 32px;
}

.lang {
    padding-top: 40px;
    font-weight:500;
}
.lang span {
    padding-right: 7px;
}
.lang--activ {
    color: #7E7E82;
}